services:
  # Tu aplicación (se construye bajo demanda, opcional tenerla aquí si la construye Jenkins)
  app-goles:
    build: .
    image: fase1:latest
    container_name: app-goles-container
    networks:
      - jenkins-net

  jenkins:
    build:
      context: .
      dockerfile: Dockerfile.jenkins
    container_name: jenkins
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_data:/var/jenkins_home
      # Mapeamos el socket para que Jenkins pueda dar órdenes a Docker
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - jenkins-net

  sonarqube:
    image: sonarqube
    container_name: sonarqube
    ports:
      - "9000:9000"
    networks:
      - jenkins-net
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs

networks:
  jenkins-net:

volumes:
  jenkins_data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
